<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ character.name }} Details</title>
</head>
<body>
    <h1>{{ character.name }} Details</h1>
    <ul>
        <li>Name: {{ character.name }}</li>
        <li>Actor: {{ character.actor }}</li>
    </ul>

    <a href="{% url 'character-edit' id=character.character_id %}">Edit Character</a>
    <br>
    <br>
    <form method="post" action="{% url 'character-delete' id=character.character_id %}">
        {% csrf_token %}
        <input type="submit" value="Delete Character">
</body>
</html>
